// scss-lint:disabled all
@font-face {
  font-family: 'ohouse';
  src: url('./assets/fonts/ohouse.eot');
  src: url('./assets/fonts/ohouse.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/ohouse.ttf') format('truetype'),
    url('./assets/fonts/ohouse.woff') format('woff'),
    url('./assets/fonts/ohouse.svg#ohouse') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
